<!DOCTYPE html>
<html lang="en">
  <head>
  {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main  header file-->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left align-items-center">
              <figure>
                <img src="/public/images/404 .jpg" alt="">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              
              <h1>
              {{ errorMsg}}
                
              </h1>
              <a href="/" target="__Pranav"><button>GO back to your gully</button></a>
            </div>
          </div>
          <!-- right side div -->
        
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>
