<!DOCTYPE html>
<html lang="en">
  <head>
  {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main  header file-->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img src="images/background image.jpg" alt="pranav backgroung">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app World</p>
              <h1>
               I Am A <span class="text_color"> Mern Stack Developer </span>And A Freelancer 
                
              </h1>
              <a href="https://www.linkedin.com/in/pranav-gupta-783831219" target="__Pranav"><button>About Me</button></a>
            </div>
          </div>
          <!-- right side div -->
        
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>
